.destinations {
    margin: 0 24px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.destinations .item header {
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
}

.img-item {
    background: url("../img/populardestinations-tokyo-mobile.jpg") no-repeat;
    height: 360px;
    width: 100%;
    background-size: cover;
    margin-bottom: 24px;
}

.osaka {
    background: url("../img/populardestination-osaka-mobile.jpg") no-repeat;
    height: 360px;
    width: 100%;
    background-size: cover;
    margin-bottom: 24px;
}

.item h4 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 0;
}

.item p {
    font-size: 20px;
    line-height: 32px;
}

@media screen and (min-width: 768px) {
    .destinations {
        margin: 0 60px;
    }

    .img-item {
    background: url("../img/populardestination-tokyo-tabletdesk.jpg") no-repeat;
    height: 452px;
    width: 100%;
    background-size: cover;
    margin-bottom: 24px;
    }

    .osaka {
    background: url("../img/populardestination-osaka-mobile.jpg") no-repeat;
    height: 452px;
    width: 100%;
    background-size: cover;
    margin-bottom: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .destinations {
        margin: 0 120px;
    }
    
    .destination-items {
        display: flex;
        gap: 24px;
        box-sizing: border-box;
    }
}