header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo img {
    width: 68px;
    height: 64px;
    display: inline-block;
}

.navegation-menu {
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav {
    display: none;
}



.list-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-links li a {
    
    text-decoration: none;
    color: var(--text-secundary-color);
    font-weight: var(--menu-text-weight);
}
