header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.img-mobile {
    width: 68px;
    height: 64px;
    display: inline-block;
}


.img-desktop {
    display: none;
}

.navegation-menu {
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav {
    display: none;
}



.list-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-links li {
    margin: 16px;
}

.list-links li a {
    text-decoration: none;
    color: var(--text-secundary-color);
    font-weight: var(--menu-text-weight);
    font-size: 22px;
}

@media screen and (min-width: 768px) {
    
    .navegation-menu {
        margin: 0;
        width: 467px;
    }
    
    .navegation-menu label {
        display: none;
    }

    .navegation-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .navegation-menu nav {
        display: block;
    }
   
}

@media screen and (min-width: 1024px) {

    header {
        padding: 38px 120px;
    }

    .logo {
        width: 260px;
        height: 64px;

    }

    .img-desktop {
        display: block;
        padding-top: 16px;
        
    }
    .img-mobile {
        display: none;
    }

    .navegation-menu a:hover {
        color: var(--primary-color);
    }
    
}

@media screen and (min-width: 1920px) {
    header {
        padding: 38px 160px;
    }
}

