.hero-img {
    background: url("../img/hero-mobile.jpg") no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
}

.hero h2 {
    font-weight: var(--text-weight);
    font-size: 20px;
    margin: 0;
    padding: 88px 24px;
    text-align: center;
    line-height: 1.5;

}

@media screen and (min-width: 768px) {
    .hero-img {
    background: url("../img/hero-tablet.jpg") no-repeat;
    height: 620px;
    background-size: cover;
    }

    .hero h2 {
    font-size: 32px;
    padding: 88px 60px;
}

}

@media screen and (min-width: 1024px) {
    .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat;
    height: 620px;
    background-size: cover;
    }

    .hero h2 {
    font-size: 32px;
    padding: 88px 60px;
}

}

@media screen and (min-width: 1920px){
    .hero h2 {
        padding: 88px 160px;
    }
}