.hero-img {
    background: url("../img/hero-mobile.jpg") no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
}

.hero h2 {
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 88px;
    padding: 0 24px;

}

@media screen and (min-width: 768px) {
    .hero-img {
    background: url("../img/hero-tablet.jpg") no-repeat;
    height: 620px;

}
}

