.categories-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
}



.categories-nav a {
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 28px;
    font-weight: var(--title-weight);
    width: 312px;
    height: 220px;
    background-color: #F5F5F5;
    align-content: center;
}

.categories-nav img {
    size: auto;
}

