.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}



.testimonial-container article header p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 8px;
}


.testimonial-container article footer {
    display: flex;
    gap: 24px;
    align-items: center;
}

.testimonial-container article footer img {
    height: 86px;
    width: 86px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    
}

.profile-content h4 {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
}

.rating span {
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
}

@media screen and (min-width:1440px) {

    .testimonial-container {
        flex-direction: row;
    }
}
    
