.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}



.testimonial-container article header p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 8px;
}

.testimonial-container article footer {
    display: flex;
    height: 86px;
    width: 100%;
    gap: 24px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    
}

.profile-content h4 {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
}



.rating span {
    font-size: 20px;
    color: #B81515;
}

@media screen and (min-width:1440px) {

    .testimonial-container {
        flex-direction: row;
        justify-content: center;
    }
}
    
